<launch>
    <arg name="world" default="maze_10m_x_14m.world"/>
    <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
    
    <arg name="pacman_pos_x" default=" 5"/>
    <arg name="pacman_pos_y" default=" 0.0"/>
    <arg name="pacman_pos_z" default=" 0.0"/>
    <arg name="pacman_yaw" default=" 3.14"/>

    <arg name="ghost1_pos_x" default=" -0.25"/>
    <arg name="ghost1_pos_y" default=" -0.25"/>
    <arg name="ghost1_pos_z" default=" 0.0"/>
    <arg name="ghost1_yaw" default="0.0" />

    <arg name="ghost2_pos_x" default=" -0.25"/>
    <arg name="ghost2_pos_y" default=" 0.25"/>
    <arg name="ghost2_pos_z" default=" 0.0"/>
    <arg name="ghost2_yaw" default="0.0" />

    <arg name="ghost3_pos_x" default=" 0.25"/>
    <arg name="ghost3_pos_y" default=" 0.25"/>
    <arg name="ghost3_pos_z" default=" 0.0"/>
    <arg name="ghost3_yaw" default="0.0" />

    <arg name="ghost4_pos_x" default=" 0.25"/>
    <arg name="ghost4_pos_y" default=" -0.25"/>
    <arg name="ghost4_pos_z" default=" 0.0"/>
    <arg name="ghost4_yaw" default="0.0" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ros_autonomous_pacman)/worlds/$(arg world)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>


    <group ns="pacman">
        <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="pacman" />
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model pacman -x $(arg pacman_pos_x) -y $(arg pacman_pos_y) -z $(arg pacman_pos_z) -Y $(arg pacman_yaw) -param robot_description" />
    </group>

    <group ns="ghost1">
        <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="ghost1" />
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model ghost1 -x $(arg ghost1_pos_x) -y $(arg ghost1_pos_y) -z $(arg ghost1_pos_z) -Y $(arg ghost1_yaw) -param robot_description" />
    </group>

    <group ns="ghost2">
        <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="ghost2" />
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model ghost2 -x $(arg ghost2_pos_x) -y $(arg ghost2_pos_y) -z $(arg ghost2_pos_z) -Y $(arg ghost2_yaw) -param robot_description" />
    </group>

    <group ns="ghost3">
        <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="ghost3" />
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model ghost3 -x $(arg ghost3_pos_x) -y $(arg ghost3_pos_y) -z $(arg ghost3_pos_z) -Y $(arg ghost3_yaw) -param robot_description" />
    </group>

    <group ns="ghost4">
        <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="ghost4" />
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model ghost4 -x $(arg ghost4_pos_x) -y $(arg ghost4_pos_y) -z $(arg ghost4_pos_z) -Y $(arg ghost4_yaw) -param robot_description" />
    </group>


</launch>