<launch>
    <arg name="pacman_pos_x" default=" 5"/>
    <arg name="pacman_pos_y" default=" 0.0"/>
    <arg name="pacman_pos_z" default=" 0.0"/>
    <arg name="pacman_yaw" default=" 3.14"/>

    <arg name="ghost1_pos_x" default=" -0.25"/>
    <arg name="ghost1_pos_y" default=" -0.25"/>
    <arg name="ghost1_pos_z" default=" 0.0"/>
    <arg name="ghost1_yaw" default="0.0" />

    <arg name="ghost2_pos_x" default=" -0.25"/>
    <arg name="ghost2_pos_y" default=" 0.25"/>
    <arg name="ghost2_pos_z" default=" 0.0"/>
    <arg name="ghost2_yaw" default="0.0" />

    <arg name="ghost3_pos_x" default=" 0.25"/>
    <arg name="ghost3_pos_y" default=" 0.25"/>
    <arg name="ghost3_pos_z" default=" 0.0"/>
    <arg name="ghost3_yaw" default="0.0" />

    <arg name="ghost4_pos_x" default=" 0.25"/>
    <arg name="ghost4_pos_y" default=" -0.25"/>
    <arg name="ghost4_pos_z" default=" 0.0"/>
    <arg name="ghost4_yaw" default="0.0" />


    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>


    <group ns="pacman">
        <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="pacman" />
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model pacman -x $(arg pacman_pos_x) -y $(arg pacman_pos_y) -z $(arg pacman_pos_z) -Y $(arg pacman_yaw) -param robot_description" />
    </group>

    <group ns="ghost1">
        <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />


        <!-- AMCL -->
        <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
            <arg name="scan_topic" value="ghost1/scan"/>
            <arg name="initial_pose_x" value="$(arg ghost1_pos_x)"/>
            <arg name="initial_pose_y" value="$(arg ghost1_pos_y)"/>
        </include>

        <!-- move_base -->
        <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
            <arg name="model" value="$(arg model)" />
            <arg name="move_forward_only" value="$(arg move_forward_only)"/>
            <arg name="cmd_vel_topic" value="ghost1/cmd_vel"/>
            <arg name="odom_topic" value="ghost1/odom" />
        </include>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="ghost1" />
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model ghost1 -x $(arg ghost1_pos_x) -y $(arg ghost1_pos_y) -z $(arg ghost1_pos_z) -Y $(arg ghost1_yaw) -param robot_description" />
    </group>

    <group ns="ghost2">
        <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="ghost2" />
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model ghost2 -x $(arg ghost2_pos_x) -y $(arg ghost2_pos_y) -z $(arg ghost2_pos_z) -Y $(arg ghost2_yaw) -param robot_description" />
    </group>

    <group ns="ghost3">
        <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="ghost3" />
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model ghost3 -x $(arg ghost3_pos_x) -y $(arg ghost3_pos_y) -z $(arg ghost3_pos_z) -Y $(arg ghost3_yaw) -param robot_description" />
    </group>

    <group ns="ghost4">
        <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="ghost4" />
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model ghost4 -x $(arg ghost4_pos_x) -y $(arg ghost4_pos_y) -z $(arg ghost4_pos_z) -Y $(arg ghost4_yaw) -param robot_description" />
    </group>
    <!-- <param name="testmodel_description" textfile="$(find ros-autonomous-pacman)/models/TESTCYLINDER.urdf"/> -->

    <!-- rviz -->
    <group if="$(arg open_rviz)"> 
        <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
    </group>
</launch>