<launch>
    <arg name="world" default="maze_10m_x_14m.world"/>
    <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="map_file" default="$(find ros_autonomous_pacman)/maze.yaml"/>
    <arg name="open_rviz" default="true"/>

    <!-- Load world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ros_autonomous_pacman)/worlds/$(arg world)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- Game Logic -->
    <node pkg="ros_autonomous_pacman" type="game_logic.py" name="game_logic" output="screen"/>

    <!-- Spawn Pacman -->
    <include file="$(find ros_autonomous_pacman)/launch/player.launch">
        <arg name="robot_name" value="pacman"/>
        <arg name="pos_x" value="5"/>
        <arg name="pos_y" value="0"/>
        <arg name="pos_z" value="0"/>
        <arg name="yaw" value="3.14"/>
    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
    </group>
</launch>